<div class="container-fluid overflow-auto">

    <div class="row">

        <div class="col-12 col-md-2" style="background-color: #4180C2;">

            <ul class="nav flex-column nav-fill nav-pills">

                <li class="nav-item mb-2 mt-2">
                    <img src="https://blobauroranuevo.blob.core.windows.net/images3d/fxemoji_graduationcap (1).png"
                        alt="">
                </li>

                <li class="nav-item m-4">

                    <a class="nav-link text-white p-3" routerLink="/detalle">
                        <div class="row">
                            <div class="col-12"><img
                                    src="https://blobauroranuevo.blob.core.windows.net/images3d/Question Circle.png"
                                    alt="Icon"></div>
                            <div class="col-12"><span class="text-white" style="font-size: smaller;">Detalle
                                    Académico</span></div>
                        </div>
                    </a>

                </li>

                <li class="nav-item m-4">
                    <a class="nav-link active p-3" routerLink="/informacion"
                        style="background-color:rgba(255, 255, 255, 0.2)">
                        <div class="row">
                            <div class="col-12"><img
                                    src="https://blobauroranuevo.blob.core.windows.net/images3d/Form.png" alt="Icon">
                            </div>
                            <div class="col-12">
                                <label class="text-white" style="font-size: smaller;">Información Beca</label>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="nav-item m-4">
                    <a class="nav-link p-2" routerLink="/reporte-academico">
                        <div class="row">
                            <div class="col-12">
                                <img src="https://blobauroranuevo.blob.core.windows.net/images3d/Data Trending (1).png"
                                    alt="Icon">
                            </div>
                            <div class="col-12">
                                <span class="text-white" style="font-size: smaller;">Reporte
                                    Rendimiento</span>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="nav-item m-4">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn text-white rounded-circle" data-bs-toggle="modal"
                            data-bs-target="#showNot" style="background-color: rgba(255, 255, 255, 0.1);">
                            <i class="bi bi-bell"></i>
                        </button>
                    </div>
                </li>
                <li class="nav-item m-2">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn text-white rounded-circle" data-bs-toggle="modal"
                            data-bs-target="#updateUser" style="background-color: rgba(255, 255, 255, 0.1);">
                            <i class="bi bi-person-check"></i>
                        </button>
                    </div>

                </li>
                <li class="nav-item m-5">
                    <div class="d-flex justify-content-center" style="margin-bottom: 2rem;">
                        <button type="button" class="btn text-white rounded-circle"
                            style="background-color: rgba(255, 255, 255, 0.1);" (click)="logout()">
                            <i class="bi bi-box-arrow-left"></i>
                        </button>
                    </div>
                </li>
            </ul>

        </div>

        <div class="col-12 col-md-10" style="background-color: #F3F3F3;">
            <form #myForm="ngForm">
                <div class="card mt-4 mb-5">
                    <div class="card-header">

                        <ul class="list-inline my-auto">
                            <li class="list-inline-item me-5"> <strong>Información de Periodo de Beca</strong></li>
                            <li class="list-inline-item"><small>Fecha
                                    Inicio de Beca: {{fecha_inicio | date:'dd/MM/yyyy'}}</small></li>
                            <li class="list-inline-item"><small>Fecha Fin de
                                    Beca: {{fecha_fin_estimada | date:'dd/MM/yyyy'}}</small></li>
                        </ul>

                    </div>
                    <div class="row card-body g-0">

                        <div class="col-12 col-md-8">
                            <!--Donde-->


                            <div class="row mb-3">
                                <div class="col-12 col-md-3">
                                    <label class="form-label" style="color: #636363 ;">Nombres y Apellidos: </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control" [(ngModel)]="nombre_completo"
                                        name="nombre_completo" id="nombre_completo" readonly [disabled]="true">
                                </div>

                            </div>


                            <div class="row mb-3">
                                <div class="col-12 col-md-3">
                                    <label class="form-label" style="color: #636363;">N° Doc. Identidad: </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control" [(ngModel)]="dni" id="dni" name="dni"
                                        readonly [disabled]="true">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-12 col-md-3">
                                    <label class="form-label" style="color: #636363;">Institución: </label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="text" class="form-control disabled" [(ngModel)]="institucion_nombre"
                                        name="institucion_nombre" readonly id="institucion_nombre" [disabled]="true">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">

                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col"><label class="form-label" style="color: #636363;">Fecha
                                                Inicio de Beca *:</label></div>
                                        <div class="col"><input type="date" class="form-control"
                                                [(ngModel)]="fecha_inicio" name="fecha_inicio" id="fecha_inicio"
                                                required>
                                        </div>
                                    </div>
                                    <!-- 
                                    <mat-form-field appearance="outline">
                                        <mat-label>Seleccionar Fecha Inicio</mat-label>
                                        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha_inicio">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                      -->
                                </div>
                                <div class="col">
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col"><label class="form-label" style="color: #636363;">Fecha Fin de
                                                Beca *:</label></div>
                                        <div class="col"><input type="date" class="form-control"
                                                [(ngModel)]="fecha_fin_estimada" name="fecha_fin_estimada"
                                                id="fecha_fin_estimada" required></div>
                                    </div>
                                </div>
                            </div>
                            <!--Donde-->


                            <div class="row custom-file-button mb-3">
                                <div class="col-3">
                                    <label class="form-label" style="color: #636363;">Contrato *: </label>
                                </div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="file" class="form-control"
                                            (change)="onFileChange_contratoBecario($event)" #url_doc_contrato />
                                        <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                                style="color: #4180C2;width: 100%;"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom-file-button mb-2">
                                <div class="col-3">
                                    <label class="form-label" style="color: #636363;">Malla Curricular *: </label>
                                </div>
                                <div class="col-9">
                                    <div class="input-group">
                                        <input type="file" class="form-control"
                                            (change)="onFileChange_id_malla_curricular($event)" #id_malla_curricular />
                                        <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                                style="color: #4180C2;width: 100%;"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label" style="color: #636363;">* No se olvide de cargar los archivos
                                    correspondientes </label>
                            </div>

                        </div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex justify-content-center mb-4">
                                <img id="selectedAvatar"
                                    src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                    class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;"
                                    alt="example placeholder" />

                            </div>

                            <div class="w-75" style="margin: auto;">
                                <div class="d-flex justify-content-center">
                                    <label class="form-label text-center" style="color: #636363;">Foto
                                        Estudiante *</label>
                                </div>
                                <div class="input-group">
                                    <input type="file" class="form-control"
                                        (change)="onFileChange_url_foto_estudiante($event)" />
                                    <label class="input-group-text"><i class="bi bi-cloud-arrow-up-fill"
                                            style="color: #4180C2;width: 100%;"></i></label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-7">
                                <h6 class="mt-2 mb-2"><strong>Ciclos Malla Curricular</strong></h6>
                            </div>
                            <div *ngIf="editMallaCurricular" class="col-5 d-flex justify-content-end"><button
                                    class="btn text-primary"
                                    style="background-color: #ECF2F9;border: #4180C2 solid 1px;" type="button"
                                    data-bs-toggle="modal" data-bs-target="#nuevaMalla" (click)="clearData()">Nuevo
                                    Ciclo/Grado</button></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">

                            <div class="card-body">
                                <div class="container table-responsive">
                                    <table class="table table-bordered" *ngFor="let ciclo of cicloCursoRelacion">
                                        <thead>
                                            <tr>
                                                <th class="align-middle" style="background-color: #ECF2F9;">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <span class="me-5">{{ciclo.ciclo.nombre}}</span>
                                                        <button *ngIf="editMallaCurricular"
                                                            class="btn btn-outline-info btn-sm me-2"
                                                            data-bs-target="#editarMalla" data-bs-toggle="modal"
                                                            (click)="selectCicloModal(ciclo.ciclo.id)"><i
                                                                class="bi bi-pencil-fill"></i></button>
                                                        <button *ngIf="editMallaCurricular"
                                                            class="btn btn-outline-danger btn-sm"
                                                            (click)="deleteCicloAll(ciclo.ciclo)"><i
                                                                class="bi bi-trash3"></i></button>

                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="m-0 p-0">
                                            <tr>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <thead class="bg-light">
                                                            <tr>
                                                                <th class="text-center">Nombre</th>
                                                                <th class="text-center">Tipo</th>
                                                                <th class="text-center">Créditos</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let curso of ciclo.cursos">
                                                                <td class="text-center">{{curso.Nombre}}</td>
                                                                <td class="text-center">{{curso.tipo}}</td>
                                                                <td class="text-center">{{curso.creditos}}</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary" (click)="submitForm()"
                                [disabled]="!isFileSelected()">Guardar
                                Información</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>



    </div>

</div>




<div class="modal fade" id="showNot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-custom modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>Notificaciones</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><i class="bi bi-x-circle" style="color: black;"
                            data-bs-dismiss="modal"></i></div>
                </div>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                    <li class="list-group-item" style="font-size: small;"><span class="badge badge-pill"><i
                                class="bi bi-circle-fill" style="color: #4180C2;"></i></span>Te quedan 2 días para
                        cargar tu información de periodo de beca
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" data-bs-backdrop="static" id="contrato_becario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contrato de Becario</h5>
            </div>
            <div class="modal-body">
                <div class="embed-responsive">
                    <iframe class="embed-responsive-item"
                        src="https://blobauroranuevo.blob.core.windows.net/images3d/Contrato_Aceptacion_Beca.pdf"
                        width="100%" height="600px"></iframe>
                </div>
            </div>
            <div class="modal-footer mx-auto">
                <div class="row">
                    <div class="col-12 mb-3 d-flex justify-content-center ">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="contrato" id="contrato"
                                (change)="onCheckboxChange($event)">
                            <label class="form-check-label" for="contrato"
                                style="font-size: larger; margin-left: 5px;">Acepto todos los términos de la
                                fundación y
                                me comprometo a cumplir todo lo estipulado.</label>
                        </div>
                    </div>
                    <div class="col-12 mb-2 d-grid">
                        <button class="btn btn-primary" [disabled]="!isChecked" (click)="aceptarContrato()">Empezar a
                            usar
                            la Intranet</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>Actualizar Contraseña</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><i class="bi bi-x-circle" style="color: black;"
                            data-bs-dismiss="modal"></i></div>

                </div>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUpdateLogin">
                    <div class="mb-3">
                        <label class="form-label text-dark">DNI: </label>
                        <input type="text" class="form-control" formControlName="dni" [readOnly]="true">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark">Contraseña Actual: </label>
                        <input type="password" class="form-control" formControlName="antiguaClave" name="antiguaClave"
                            value="">
                        @if(formUpdateLogin.get('antiguaClave')?.errors?.['required'] &&
                        formUpdateLogin.get('antiguaClave')?.touched)
                        {<div class="mistake">
                            Por favor coloque su contraseña actual correctamente
                        </div>
                        }

                    </div>

                    <div class="mb-3">
                        <label class="form-label text-dark">Nueva Contraseña: </label>
                        <input type="password" class="form-control" formControlName="nuevaClave" name="" value="">
                        @if(formUpdateLogin.get('nuevaClave')?.errors?.['required'] &&
                        formUpdateLogin.get('nuevaClave')?.touched)
                        {<div class="mistake">
                            Por favor coloque su nueva contraseña correctamente
                        </div>
                        }
                    </div>
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary" [disabled]="!formUpdateLogin.valid" (click)="updateLogin()"
                            data-bs-dismiss="modal">Guardar Cambios</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--HTML Agregar Malla-->
<div class="modal fade" data-bs-backdrop="static" id="nuevaMalla">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2 mt-2">Contrato de Becario</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><i class="bi bi-x-circle mb-2 mt-2"
                            style="color: black;" data-bs-dismiss="modal"></i></div>
                </div>
            </div>
            <div class="modal-body">
                <form #addMalla="ngForm">
                    <div class="card-body">

                        <p class="card-subtitle mb-2"><strong>Ciclo/Grado</strong></p>
                        <div class="w-50">
                            <input type="text" class="form-control rounded" [(ngModel)]="nombre" name="nombre"
                                required />
                        </div>
                        <div class="row mb-4">
                            <div class="col-4 col-md-6 d-flex align-items-center">
                                <span class="m-b mt-2"><strong>Cursos</strong></span>
                            </div>
                            <div class="col-8 col-md-6 d-flex justify-content-end">
                                <button class="btn btn-outline-primary w-50" data-bs-toggle="modal"
                                    data-bs-target="#addCurso">Añadir Curso</button>
                            </div>

                        </div>

                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="container table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="bg-light">

                                            <tr>
                                                <th class="text-center">Curso</th>
                                                <th class="text-center">Tipo</th>
                                                <th class="text-center">Crédito</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let curso of getCursoMallas(); let i = index">
                                                <td class="text-center">{{curso.Nombre}}</td>
                                                <td class="text-center">{{curso.tipo}}</td>
                                                <td class="text-center">{{curso.creditos}}</td>
                                                <td class="text-center">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 d-sm-flex justify-content-md-end">
                                                            <button type="button" class="btn btn-outline-primary"
                                                                data-bs-toggle="modal" data-bs-target="#addCurso"
                                                                (click)="editCursoMalla(i)"><i
                                                                    class="bi bi-pencil text-info"></i></button>
                                                        </div>
                                                        <div class="col-12 col-md-6 d-sm-flex justify-content-md-start">
                                                            <button type="button" class="btn btn-outline-danger"
                                                                style="background-color: rgba(234, 76, 83, 0.1); border: solid red 1px;"
                                                                (click)="deleteCursoMalla(i)"><i class="bi bi-trash"
                                                                    style="color: red;"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary w-25" [disabled]="addMalla.invalid"
                                (click)="createAndSaveCiclo()" data-bs-dismiss="modal">Guardar Ciclo/Grado</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="addCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>{{ editingIndex !== null ? 'Editar Curso' : 'Añadir Curso' }}</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><i class="bi bi-x-circle" style="color: black;"
                            data-bs-dismiss="modal"></i></div>

                </div>
            </div>
            <div class="modal-body">
                <form #formMallaCurso="ngForm">
                    <div class="mb-3">
                        <label class="form-label text-dark">Curso: </label>
                        <input type="text" class="form-control" [(ngModel)]="newCursoMalla.Nombre" name="Nombre"
                            required #Nombre="ngModel">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark">Tipo: </label>
                        <select class="form-select" name="tipo" [(ngModel)]="newCursoMalla.tipo" required>
                            <option value="" selected disabled class="text-muted">Seleccione una opción</option>
                            <option value="Obligatorio">Obligatorio</option>
                            <option value="No Obligatorio">No Obligatorio</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-dark">Crédito: </label>
                        <input type="number" class="form-control" [(ngModel)]="newCursoMalla.creditos" name="creditos"
                            required min="0">
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-primary" type="submit" (click)="saveCursoMalla()"
                            [disabled]="formMallaCurso.invalid" data-bs-dismiss="modal">{{ editingIndex !== null ?
                            'Guardar Cambios' : 'Añadir Curso' }}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--HTML Editar Malla-->

<div class="modal fade" data-bs-backdrop="static" id="editarMalla">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h6 class="mb-2 mt-2">Editar Contrato de Becario</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><i class="bi bi-x-circle mb-2 mt-2"
                            style="color: black;" data-bs-dismiss="modal"></i></div>
                </div>
            </div>
            <div class="modal-body">
                <form #formEditMalla="ngForm">
                    <div class="card-body">

                        <p class="card-subtitle mb-2"><strong>Ciclo/Grado</strong></p>
                        <div class="w-50">
                            <input type="text" class="form-control rounded" name="nombre" [(ngModel)]="nombre"
                                required />
                        </div>
                        <div class="row mb-4">
                            <div class="col-4 col-md-6 d-flex align-items-center">
                                <span class="m-b mt-2"><strong>Cursos</strong></span>
                            </div>
                            <div class="col-8 col-md-6 d-flex justify-content-end">
                                <button class="btn btn-outline-primary w-50" data-bs-toggle="modal"
                                    data-bs-target="#editCurso">Añadir Curso</button>
                            </div>

                        </div>

                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="container table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="bg-light">

                                            <tr>
                                                <th class="text-center">Curso</th>
                                                <th class="text-center">Tipo</th>
                                                <th class="text-center">Crédito</th>
                                                <th></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let curso of cursos; let i = index">
                                                <td class="text-center">{{curso.Nombre}}</td>
                                                <td class="text-center">{{curso.tipo}}</td>
                                                <td class="text-center">{{curso.creditos}}</td>
                                                <td class="text-center">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6 d-sm-flex justify-content-md-end">
                                                            <button type="button" class="btn btn-outline-primary"
                                                                (click)="editCurso(i)" data-bs-toggle="modal"
                                                                data-bs-target="#editCurso"><i
                                                                    class="bi bi-pencil text-info"></i></button>
                                                        </div>
                                                        <div class="col-12 col-md-6 d-sm-flex justify-content-md-start">
                                                            <button type="button" class="btn btn-outline-danger"
                                                                (click)="deleteCurso(curso.id)"
                                                                style="background-color: rgba(234, 76, 83, 0.1); border: solid red 1px;"><i
                                                                    class="bi bi-trash"
                                                                    style="color: red;"></i></button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary w-25" (click)="updateCiclo()"
                                [disabled]="formEditMalla.invalid" data-bs-dismiss="modal">Guardar Ciclo/Grado</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editCurso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100 g-0">
                    <div class="col">
                        <h6>{{ editingIndexEdit === null ? 'Añadir Curso' : 'Editar Curso' }}</h6>
                    </div>
                    <div class="col d-flex justify-content-end"><i class="bi bi-x-circle" style="color: black;"
                            data-bs-dismiss="modal"></i></div>

                </div>
            </div>
            <div class="modal-body">
                <form #formMallaCursoEdit="ngForm">
                    <div class="mb-3">
                        <label class="form-label text-dark">Curso: </label>
                        <input type="text" class="form-control" name="Nombre" [(ngModel)]="newCursoMallaEdit.Nombre"
                            required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark">Tipo: </label>
                        <select class="form-select" name="tipo" required [(ngModel)]="newCursoMallaEdit.tipo">
                            <option value="" selected disabled class="text-muted">Seleccione una opción</option>
                            <option value="Obligatorio">Obligatorio</option>
                            <option value="No Obligatorio">No Obligatorio</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-dark">Crédito: </label>
                        <input type="number" class="form-control" name="creditos" required min="0"
                            [(ngModel)]="newCursoMallaEdit.creditos">
                    </div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-primary" type="submit" [disabled]="formMallaCursoEdit.invalid"
                            data-bs-dismiss="modal" (click)="createCurso()">{{ editingIndexEdit === null ?
                            'Añadir Curso' : 'Guardar Cambios' }}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>