<div
  class="container-fluid"
  style="background-color: rgba(212, 212, 212, 0.15)"
>
  <div class="pt-3 mb-3">
    <span style="font-size: 20px; font-weight: 600; letter-spacing: -0.3px"
      >Contabilidad</span
    >
  </div>
  <!-- Indicadores -->
  <div
    class="d-flex flex-wrap align-items-center justify-content-around bg-white border rounded-3 px-4 py-3 gap-3"
  >
    <!-- Pendiente -->
    <div class="d-flex align-items-center gap-3">
      <!-- <i class="ti ti-clipboard-list fs-2 text-secondary"></i> -->
      <img src="assets/pendiente.svg" alt="Descripción de la imagen" />
      <div class="d-flex flex-column align-items-center">
        <div class="fs-4 fw-medium">{{ cantidadPendientes }}</div>
        <div class="text-secondary" style="font-size: 13px">Pendiente</div>
      </div>
    </div>

    <div class="vr mx-2 d-none d-sm-block" style="height: 48px"></div>

    <!-- Por Revisar -->
    <div class="d-flex align-items-center gap-3">
      <img src="assets/porrevisar.svg" alt="Descripción de la imagen" />
      <div class="d-flex flex-column align-items-center">
        <div class="fs-4 fw-medium" style="color: #f0a500">
          {{ cantidadPorRevisar }}
        </div>
        <div class="text-secondary" style="font-size: 13px">Por Revisar</div>
      </div>
    </div>

    <div class="vr mx-2 d-none d-sm-block" style="height: 48px"></div>

    <!-- Observado -->
    <div class="d-flex align-items-center gap-3">
      <img src="assets/observado.svg" alt="Descripción de la imagen" />
      <div class="d-flex flex-column align-items-center">
        <div class="fs-4 fw-medium text-danger">{{ cantidadObservados }}</div>
        <div class="text-secondary" style="font-size: 13px">Observado</div>
      </div>
    </div>

    <div class="vr mx-2 d-none d-sm-block" style="height: 48px"></div>

    <!-- Aprobados -->
    <div class="d-flex align-items-center gap-3">
      <img src="assets/aprobado.svg" alt="Descripción de la imagen" />
      <div class="d-flex flex-column align-items-center">
        <div class="fs-4 fw-medium" style="color: #1aaa7e">
          {{ cantidadAprobados }}
        </div>
        <div class="text-secondary" style="font-size: 13px">Aprobados</div>
      </div>
    </div>
  </div>

  <!-- Tus dos secciones de abajo -->
  <div
    class="mt-3 bg-white border rounded-3 px-4 py-3 d-flex align-items-center gap-3 flex-wrap"
  >
    <div class="position-relative flex-grow-1" style="min-width: 160px">
      <i
        class="ti ti-search position-absolute"
        style="
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          color: #888;
        "
      ></i>
      <input
        type="text"
        class="form-control ps-5"
        placeholder="Buscar..."
        style="background: #f8f9fa"
        [(ngModel)]="textoBusqueda"
        (input)="filtrarPagos()"
      />
    </div>

    <div class="position-relative" style="min-width: 160px; flex: 1">
      <i
        class="ti ti-filter position-absolute"
        style="
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          color: #888;
          z-index: 1;
        "
      ></i>
      <select
        class="form-select ps-5"
        style="background: #f8f9fa"
        [(ngModel)]="estadoSeleccionado"
        (change)="filtrarPagos()"
      >
        <option value="">Todos los estados</option>
        <option value="pendiente">Pendiente</option>
        <option value="por revisar">Por Revisar</option>
        <option value="observado">Observado</option>
        <option value="aprobado">Aprobado</option>
        <option value="en tesorería">En Tesorería</option>
      </select>
    </div>
  </div>
  <!-- Tabla responsive -->
  <div class="mt-3 bg-white border rounded-3 overflow-hidden">
    <div class="table-responsive">
      <table class="table table-borderless mb-0" style="font-size: 14px">
        <thead style="background-color: #f8f9fa">
          <tr>
            <th class="px-4 py-3 fw-semibold text-secondary">Estudiante</th>
            <th class="px-4 py-3 fw-semibold text-secondary">Institución</th>
            <th class="px-4 py-3 fw-semibold text-secondary">
              Fecha Solicitud
            </th>
            <th class="px-4 py-3 fw-semibold text-secondary text-center">
              Estado
            </th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="border-top" *ngFor="let pago of pagosFiltrados">
            <td class="px-4 py-3 align-middle">
              {{ pago.nombre_completo }}
            </td>

            <td class="px-4 py-3 align-middle text-secondary">
              {{ pago.institucion_nombre }}
            </td>

            <td class="px-4 py-3 align-middle text-secondary">
              {{ pago.fecha_solicitud | date: "dd/MM/yyyy" : "UTC" }}
            </td>

            <td class="px-4 py-3 align-middle text-center">
              <span
                class="badge rounded-pill px-3 py-2"
                [ngStyle]="getEstadoStyle(pago.ContabilidadEstado)"
              >
                {{ pago.ContabilidadEstado }}
              </span>
            </td>

            <td class="px-4 py-3 align-middle text-center">
              <i
                class="ti ti-eye"
                style="font-size: 18px; color: #4180c2; cursor: pointer"
                (click)="abrirSolicitud(pago)"
              >
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- modal de cuando está en por revisar -->

<div
  class="modal fade"
  id="modalSolicitud"
  data-bs-backdrop="static"
  tabindex="-1"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    style="max-width: 520px"
  >
    <div class="modal-content border-0 rounded-4">
      <!-- Header -->
      <div class="modal-header border-0 pb-0 px-4 pt-4">
        <h5 class="modal-title fw-semibold" style="font-size: 18px">
          Solicitud de Pago
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body px-4 py-3">
        <!-- Info principal -->
        <div
          class="border rounded-3 p-3 mb-3"
          style="font-size: 14px; line-height: 2"
        >
          <div class="mod-sub">
            <span class="mod-dat">Institución:</span>
            {{ pagoSeleccionado?.institucion_nombre || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">RUC Institución:</span>
            {{ pagoSeleccionado?.ruc_institucion || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Emisión:</span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_solicitud) ||
                "No registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Concepto:</span>
            {{ pagoSeleccionado?.concepto || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Descripción:</span>
            {{ pagoSeleccionado?.descripcion || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">N° cta bancaria (CCI):</span>
            {{ pagoSeleccionado?.nro_cuentabancaria || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Código Sociedad:</span>
            {{ pagoSeleccionado?.codigo_sociedad || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">CECO:</span>
            {{ pagoSeleccionado?.ceco || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Área Solicitante:</span>
            {{ pagoSeleccionado?.area_solicitante || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Moneda:</span>
            {{ pagoSeleccionado?.moneda || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Importe Total:</span>
            {{ pagoSeleccionado?.monto || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Regularización:</span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_regularizacion) ||
                "No registrado"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Anticipo:</span>
            <a
              href="javascript:void(0)"
              (click)="abrirDocumento(pagoSeleccionado?.id_doc_anticipo)"
              [ngStyle]="{
                color:
                  obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) ===
                  'Sin archivo'
                    ? '#636363'
                    : '#4180c2',
                'text-decoration':
                  obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) ===
                  'Sin archivo'
                    ? 'none'
                    : 'underline',
              }"
            >
              {{ obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) }}
            </a>
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha carga en SAP:</span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_carga_SAP) ||
                "No registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Evidencia de Pago:</span>
            <a
              href="javascript:void(0)"
              (click)="abrirDocumento(pagoSeleccionado?.id_evidencia_pago)"
              [ngStyle]="{
                color:
                  obtenerNombreArchivo(pagoSeleccionado?.id_evidencia_pago) ===
                  'Sin archivo'
                    ? '#636363'
                    : '#4180c2',
                'text-decoration':
                  obtenerNombreArchivo(pagoSeleccionado?.id_evidencia_pago) ===
                  'Sin archivo'
                    ? 'none'
                    : 'underline',
              }"
            >
              {{ obtenerNombreArchivo(pagoSeleccionado?.id_evidencia_pago) }}
            </a>
          </div>
        </div>

        <!-- Constancia -->
        <div class="border rounded-3 p-3 mb-3" style="font-size: 14px">
          <span class="mod-dat">Constancia de Pago:</span>
          <a
            href="javascript:void(0)"
            (click)="abrirDocumento(pagoSeleccionado?.id_constancia_pago)"
            [ngStyle]="{
              color:
                obtenerNombreArchivo(pagoSeleccionado?.id_constancia_pago) ===
                'Sin archivo'
                  ? '#636363'
                  : '#4180c2',
              'text-decoration':
                obtenerNombreArchivo(pagoSeleccionado?.id_constancia_pago) ===
                'Sin archivo'
                  ? 'none'
                  : 'underline',
            }"
          >
            {{ obtenerNombreArchivo(pagoSeleccionado?.id_constancia_pago) }}
          </a>
        </div>
      </div>

      <!-- Footer botones -->
      <div class="modal-footer border-0 flex-column px-4 pb-4 gap-2">
        <button
          type="button"
          class="btn w-100 py-3 rounded-3 fw-medium"
          style="background-color: #4180c2; color: white; font-size: 15px"
          (click)="aprobarConstancia()"
        >
          Aprobar Constancia de Pago
        </button>
        <button
          type="button"
          class="btn w-100 py-3 rounded-3 fw-medium"
          style="
            border: 1.5px solid #e84040;
            color: #e84040;
            background: white;
            font-size: 15px;
          "
          id="btnNotificar"
        >
          Notificar Observación
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalObservacion"
  data-bs-backdrop="static"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered" style="max-width: 520px">
    <div class="modal-content border-0 rounded-4">
      <!-- Header -->
      <div class="modal-header border-0 pb-0 px-4 pt-4">
        <h5 class="modal-title fw-semibold" style="font-size: 18px">
          Notificación de Observación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body px-4 py-3" style="background-color: #f8f9fa">
        <label class="fw-semibold mb-2" style="font-size: 14px"
          >Observación</label
        >
        <textarea
          class="form-control border rounded-3"
          rows="5"
          placeholder="La constancia no está legible, volver a cargar por favor"
          style="font-size: 14px; resize: none; background: white"
          [(ngModel)]="observacion"
        >
        </textarea>
      </div>

      <!-- Footer -->
      <div
        class="modal-footer border-0 px-4 pb-4"
        style="background-color: #f8f9fa"
      >
        <button
          type="button"
          class="btn w-100 py-3 rounded-3 fw-medium"
          style="background-color: #e84040; color: white; font-size: 15px"
          (click)="notificarObservacion()"
        >
          Notificar Observación
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal de cuando esta pendiente el estado y va a pasar a tesorería -->

<div
  class="modal fade"
  id="modalSolicitud2"
  data-bs-backdrop="static"
  tabindex="-1"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    style="max-width: 520px"
  >
    <div class="modal-content border-0 rounded-4">
      <!-- Header -->
      <div class="modal-header border-0 pb-0 px-4 pt-4">
        <h5 class="modal-title fw-semibold" style="font-size: 18px">
          Solicitud de Pago
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body px-4 py-3">
        <!-- Info principal -->
        <div
          class="border rounded-3 p-3 mb-3"
          style="font-size: 14px; line-height: 2"
        >
          <div class="mod-sub">
            <span class="mod-dat">Institución:  </span>
            {{ pagoSeleccionado?.institucion_nombre || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">RUC Institución:  </span>
            {{ pagoSeleccionado?.ruc_institucion || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Emisión:  </span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_solicitud) ||
                "No Registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Concepto:  </span>
            {{ pagoSeleccionado?.concepto || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Descripción:  </span
            >{{ pagoSeleccionado?.descripcion || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">N° cta bancaria (CCI):  </span>
            {{ pagoSeleccionado?.nro_cuentabancaria || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Código Sociedad:  </span>
            {{ pagoSeleccionado?.codigo_sociedad || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">CECO:  </span>
            {{ pagoSeleccionado?.ceco || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Área Solicitante:  </span>
            {{ pagoSeleccionado?.area_solicitante || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Moneda:  </span>
            {{ pagoSeleccionado?.moneda || "No registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Importe Total:  </span>
            {{ pagoSeleccionado?.monto || "No registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Regularización:  </span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_regularizacion) ||
                "No registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Anticipo:  </span>
            <a
              href="javascript:void(0)"
              (click)="abrirDocumento(pagoSeleccionado?.id_doc_anticipo)"
              [ngStyle]="{
                color:
                  obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) ===
                  'Sin archivo'
                    ? '#636363'
                    : '#4180c2',
                'text-decoration':
                  obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) ===
                  'Sin archivo'
                    ? 'none'
                    : 'underline',
              }"
            >
              {{ obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) }}
            </a>
          </div>
        </div>
      </div>

      <!-- ¿Se cargó en SAP? -->
      <div class="px-4 pb-3">
        <div class="mb-3 fw-semibold" style="font-size: 15px; color: #212529">
          ¿Se cargó en SAP?
        </div>

        <div class="d-flex align-items-center" style="gap: 120px">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="cargadoSap"
              id="sapNo"
              [value]="false"
              [(ngModel)]="cargadoSap"
            />
            <label
              class="form-check-label text-secondary"
              for="sapNo"
              style="cursor: pointer"
            >
              No
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="cargadoSap"
              id="sapSi"
              [value]="true"
              [(ngModel)]="cargadoSap"
            />
            <label
              class="form-check-label text-secondary"
              for="sapSi"
              style="cursor: pointer"
            >
              Sí
            </label>
          </div>
        </div>
      </div>

      <!-- Footer botones -->
      <div class="modal-footer border-0 flex-column px-4 pb-4 gap-2">
        <button
          type="button"
          class="btn w-100 py-3 rounded-3 fw-medium"
          [disabled]="!cargadoSap"
          [style.background-color]="cargadoSap ? '#4180C2' : '#E9ECEF'"
          [style.color]="cargadoSap ? 'white' : 'black'"
          [style.border]="cargadoSap ? 'none' : '1px solid #CED4DA'"
          style="font-size: 15px"
          (click)="comunicarCargadoSap()"
        >
          Comunicar Cargado en SAP
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal de cuando está aprobado y en tesorería -->

<div
  class="modal fade"
  id="modalSolicitud3"
  data-bs-backdrop="static"
  tabindex="-1"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    style="max-width: 520px"
  >
    <div class="modal-content border-0 rounded-4">
      <!-- Header -->
      <div class="modal-header border-0 pb-0 px-4 pt-4">
        <h5 class="modal-title fw-semibold" style="font-size: 18px">
          Solicitud de Pago
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Body -->
      <div class="modal-body px-4 py-3">
        <!-- Info principal -->
        <div
          class="border rounded-3 p-3 mb-3"
          style="font-size: 14px; line-height: 2"
        >
          <div class="mod-sub">
            <span class="mod-dat">Institución:  </span>
            {{ pagoSeleccionado?.institucion_nombre || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">RUC Institución:  </span>
            {{ pagoSeleccionado?.ruc_institucion || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Emisión:  </span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_solicitud) ||
                "No Registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Concepto:  </span>
            {{ pagoSeleccionado?.concepto || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Descripción:  </span>
            {{ pagoSeleccionado?.descripcion || "No Registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">N° cta bancaria (CCI):  </span>
            {{ pagoSeleccionado?.nro_cuentabancaria || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Código Sociedad:  </span>
            {{ pagoSeleccionado?.codigo_sociedad || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">CECO:  </span
            >{{ pagoSeleccionado?.ceco || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Área Solicitante:  </span>
            {{ pagoSeleccionado?.area_solicitante || "No Registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Moneda:  </span>
            {{ pagoSeleccionado?.moneda || "No Registrada" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Importe Total:  </span>
            {{ pagoSeleccionado?.monto || "No Registrado" }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Regularización:  </span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_regularizacion) ||
                "No Registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Anticipo:  </span>
            <a
              href="javascript:void(0)"
              (click)="abrirDocumento(pagoSeleccionado?.id_doc_anticipo)"
              [ngStyle]="{
                color:
                  obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) ===
                  'Sin archivo'
                    ? '#636363'
                    : '#4180c2',
                'text-decoration':
                  obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) ===
                  'Sin archivo'
                    ? 'none'
                    : 'underline',
              }"
            >
              {{ obtenerNombreArchivo(pagoSeleccionado?.id_doc_anticipo) }}
            </a>
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Fecha carga en SAP:  </span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_carga_SAP) ||
                "No Registrada"
            }}
          </div>
          <div class="mod-sub">
            <span class="mod-dat">Evidencia de Pago:  </span>
            <a
              href="javascript:void(0)"
              (click)="abrirDocumento(pagoSeleccionado?.id_evidencia_pago)"
              [ngStyle]="{
                color:
                  obtenerNombreArchivo(pagoSeleccionado?.id_evidencia_pago) ===
                  'Sin archivo'
                    ? '#636363'
                    : '#4180c2',
                'text-decoration':
                  obtenerNombreArchivo(pagoSeleccionado?.id_evidencia_pago) ===
                  'Sin archivo'
                    ? 'none'
                    : 'underline',
              }"
            >
              {{ obtenerNombreArchivo(pagoSeleccionado?.id_evidencia_pago) }}
            </a>
          </div>
        </div>

        <!-- Constancia -->
        <div class="border rounded-3 p-3 mb-3" style="font-size: 14px">
          <span class="mod-dat">Constancia de Pago:  </span>
          <a
            href="javascript:void(0)"
            (click)="abrirDocumento(pagoSeleccionado?.id_constancia_pago)"
            [ngStyle]="{
              color:
                obtenerNombreArchivo(pagoSeleccionado?.id_constancia_pago) ===
                'Sin archivo'
                  ? '#636363'
                  : '#4180c2',
              'text-decoration':
                obtenerNombreArchivo(pagoSeleccionado?.id_constancia_pago) ===
                'Sin archivo'
                  ? 'none'
                  : 'underline',
            }"
          >
            {{ obtenerNombreArchivo(pagoSeleccionado?.id_constancia_pago) }}
          </a>
          <div class="mod-sub">
            <span class="mod-dat">Fecha Regularización:  </span>
            {{
              formatearFecha(pagoSeleccionado?.fecha_regularizacion) ||
                "No registrada"
            }}
          </div>
        </div>
      </div>

      <!-- Footer botones -->
      <div class="modal-footer border-0 flex-column px-4 pb-4 gap-2"></div>
    </div>
  </div>
</div>
