<div class="sidebar">
  <!-- Logo -->
  <div class="logo-container mb-4">
    <img
      src="https://blobauroranuevo.blob.core.windows.net/images3d/fxemoji_graduationcap (1).png"
      alt="Logo"
      class="logo"
    />
  </div>

  <!-- Menú -->
  <div class="menu-links mb-5">
    <a class="sidebar-link active">
      <img
        src="https://blobauroranuevo.blob.core.windows.net/images3d/Money Calculator_blue.svg"
        class="menu-icon"
      />

      <span> Contabilidad </span>
    </a>
  </div>

  <!-- Botón debajo del menú -->
  <div class="actions-container">
    <button class="action-btn" (click)="logout()">
      <i class="bi bi-box-arrow-left"></i>
    </button>
  </div>
</div>
