<div class="sidebar h-100 d-flex flex-column">
  <!-- Logo -->
  <div class="logo-container mb-4">
    <img
      src="https://blobauroranuevo.blob.core.windows.net/images3d/fxemoji_graduationcap (1).png"
      alt="Logo"
      class="logo"
    />
  </div>

  <!-- Menú -->
  <ul class="nav flex-column menu-links">
    <li class="nav-item">
      <a
        class="nav-link sidebar-link"
        routerLink="/detalle"
        routerLinkActive="active"
      >
        <img
          src="https://blobauroranuevo.blob.core.windows.net/images3d/Question Circle.png"
          class="menu-icon"
        />
        <span>Detalle Académico</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link sidebar-link"
        [routerLink]="informacionBecaRuta"
        routerLinkActive="active"
      >
        <img
          src="https://blobauroranuevo.blob.core.windows.net/images3d/Form.png"
          class="menu-icon"
        />
        <span>Información Beca</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link sidebar-link"
        routerLink="/reporte-academico"
        routerLinkActive="active"
      >
        <img
          src="https://blobauroranuevo.blob.core.windows.net/images3d/Data Trending (1).png"
          class="menu-icon"
        />
        <span>Reporte Rendimiento</span>
      </a>
    </li>
  </ul>

  <!-- Parte inferior -->
  <div class="bottom-actions">
    <a
      class="action-btn"
      href="https://croslandperu.sharepoint.com/..."
      target="_blank"
    >
      <i class="bi bi-question-circle"></i>
    </a>

    <button
      class="action-btn"
      data-bs-toggle="modal"
      data-bs-target="#updateUser"
    >
      <i class="bi bi-person-check"></i>
    </button>

    <button class="action-btn logout" (click)="logout()">
      <i class="bi bi-box-arrow-left"></i>
    </button>
  </div>
</div>
